<ion-header>
  <ion-toolbar>
    <mat-icon (click)="openDrawer()">menu</mat-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" #content>
  @if (isLoading) {
  <div class="grid">
    <div class="col-offset-4 col-4 flex flex-wrap justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  } @else {
  <div class="grid">
    <mat-drawer-container >
      <mat-drawer #drawer>
        <div class="flex-row">
          <div class="col flex flex-wrap justify-content-center">
            <b>Chat Channels</b><mat-icon class="cursor-pointer" (click)="addChatChannel()">add</mat-icon>
          </div>
        </div>
        <mat-radio-group (change)="handleChatChannelChanged($event)">
          @for (chatChannel of chatChannels; track chatChannel; let i = $index) {
          @if (i === 0) {
          <mat-radio-button [value]="chatChannel.id" [checked]="true">{{chatChannel.chatChannelName}}</mat-radio-button>
          } @else {
          <mat-radio-button [value]="chatChannel.id"
            [checked]="false">{{chatChannel.chatChannelName}}</mat-radio-button>
          }
          <br />
          @if (i !== chatChannels.length - 1) {
          <mat-divider></mat-divider>
          }
          }
        </mat-radio-group>
      </mat-drawer>
      <mat-drawer-content>
        <div class="col-12">
            <div class="w-screen h-screen" #chatHistory>
              @for (chatMessage of chatMessages; track chatMessage; let i = $index){
              <div class="flex-row">
                <mat-icon>chat_bubble</mat-icon>
                <div>
                  @if(chatMessage.isChatBot) {
                  <b>Chat Bot</b>
                  }
                </div>
                <div [attr.isChatTyped]="false" #chatMessage [innerHTML]="this.animateChat(chatMessage, i)"></div>
                <mat-divider></mat-divider>
              </div>
              }
            </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  }
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar>
    <app-chat-main-footer></app-chat-main-footer>
  </ion-toolbar>
</ion-footer>