<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  @if (isLoading) {
    <div class="grid">
      <div class="col-offset-4 col-4 flex flex-wrap justify-content-center">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  } @else {
    <div class="grid">
      <div class="col-offset-4 col-4">
        <mat-card>
          <mat-card-content id="chat-history" #chatHistory>
            @for (chatMessage of chatMessages; track chatMessage; let i = $index){
            <mat-list-item>
              <mat-icon matListItemIcon>chat_bubble</mat-icon>
              <div matListItemTitle>
                @if(chatMessage.isChatBot) {
                  <div>Chat Bot | {{chatMessage.timestamp | chatTimestamp}}</div>
                } @else {
                  <div>{{chatMessage.timestamp | chatTimestamp}}</div>
                }
              </div>
              <div matListItemLine [attr.isChatTyped]="false" #chatMessage>{{this.animateChat(chatMessage, i)}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            }
          </mat-card-content>
          <mat-card-actions>
            <form [formGroup]="inputForm">
              <input matInput formControlName="input" />
              <button mat-stroked-button (click)="handleInputSend()">Send</button>
            </form>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  }
</ion-content>